@font-face {
    font-family: 'digital-7mono';
    src: url('../font/digital-7_mono-webfont.eot');
    src: url('../font/digital-7_mono-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/digital-7_mono-webfont.woff2') format('woff2'),
    url('../font/digital-7_mono-webfont.woff') format('woff'),
    url('../font/digital-7_mono-webfont.ttf') format('truetype'),
    url('../font/digital-7_mono-webfont.svg#digital-7mono') format('svg');
    font-weight: normal;
    font-style: normal;
}

.nvtooltip  {
    padding: 8px !important;
    max-width: 350px;
}

.nvtooltip table {
    margin: 2px !important;
    border-spacing:0 !important;
    background: transparent !important;
    border: none !important;
}

.nvtooltip table thead,
.nvtooltip table thead th,
.nvtooltip table thead tr,
.nvtooltip table thead td,
.nvtooltip table tbody,
.nvtooltip table tbody tr,
.nvtooltip table tbody td {
    border: none !important;
    border-spacing:0 !important;
    background: transparent !important;
    border-width: 0px !important;
    text-align: left;
}

td.legend-color-guide {
    max-width: 20px;
    width: 20px;
    display: inline-block;
}

td.key {
    display: inline-block;
}

td.value {
    display: inline-block;
}

div.module-daily-windrose div div svg:not(:root){
    overflow: visible !important;
}

.ico-size-0 {
    font-size: 1.25em !important;
    line-height: 1em !important;
}

.ico-size-1 {
    font-size: 1.3em !important;
    line-height: 1em !important;
}

.ico-size-2 {
    font-size: 1.9em !important;
    line-height: 1em !important;
}

.ico-size-3 {
    font-size: 2.1em !important;
    line-height: 1em !important;
}