img.lws-logo {
    max-height: 26px;
    max-width: 24px;
}

span.lws-module-name {
    vertical-align: super;
    margin-left: 6px;
}

table.lws-settings {
    width: 100%;
}

.lws-settings th:first-child {
    vertical-align: top;
    padding-top: 15px;
}

.lws-settings th.lws-login {
    vertical-align: middle;
    padding-top: 0;
}

.lws-settings input[type=text] {
    width: 100%;
}

.lws-settings input[type=date] {
    width: 100%;
}

.lws-settings th.lws-password {
    vertical-align: middle;
    padding-top: 0;
}

.lws-settings input[type=password] {
    width: 100%;
}

.lws-settings th.lws-option {
    vertical-align: middle;
    padding-top: 0;
}

.lws-settings span.note{
    float: left;
    padding-left: 23px;
    font-size: 75%;
    margin-top: -10px;
}

select.option-select {
    width:100%;
}

select.option-at-100 {
    width:100%;
}

@media (min-width: 768px){
    td.lws-option-setting {
        min-width: 260px;
    }
}

.clearfix {
    clear:both;
}

#submitted-on {
    position: relative;
}

#lws-summary .inside {
    margin: 0;
}

#lws-translation .inside {
    margin: 0;
}

#lws-news .inside {
    margin: 0;
    padding: 0;
}

#lws-connect-netatmo .inside {
    margin: 0;
    padding: 0;
}

#lws-connect-bloomsky .inside {
    margin: 0;
    padding: 0;
}

#lws-connect-ambient .inside {
    margin: 0;
    padding: 0;
}

#lws-connect-netatmohc .inside {
    margin: 0;
    padding: 0;
}

#lws-connect-owm .inside {
    margin: 0;
    padding: 0;
}

#lws-connect-wug .inside {
    margin: 0;
    padding: 0;
}

#lws-connect-windy .inside {
    margin: 0;
    padding: 0;
}

#lws-connect-navionics .inside {
    margin: 0;
    padding: 0;
}

#lws-connect-thunderforest .inside {
    margin: 0;
    padding: 0;
}

#lws-connect-mapbox .inside {
    margin: 0;
    padding: 0;
}

#lws-connect-maptiler .inside {
    margin: 0;
    padding: 0;
}

#lws-datapublishing .inside {
    margin: 0;
    padding: 0;
}

#lws-sharing-wow .inside {
    margin: 0;
    padding: 0;
}

#lws-sharing-pws .inside {
    margin: 0;
    padding: 0;
}

#lws-sharing-wug .inside {
    margin: 0;
    padding: 0;
}

#lws-news .rss-widget {
    border-bottom: 1px solid #eee;
    padding: 8px 12px 3px 12px;
}

#lws-news .rss-widget:last-child {
    border-bottom: none;
    padding-bottom: 8px;
}

#lws-news a.rsswidget {
    font-weight: 400;
}

#lws-news .rss-widget ul li {
    margin-bottom: 5px;
}

#add-station {
    overflow: hidden;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fa-rotate-315 {
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
}

#span-sync, #netatmo-span-sync, #netatmohc-span-sync, #owm-span-sync, #wug-span-sync, #windy-span-sync, #navionics-span-sync, #thunderforest-span-sync, #mapbox-span-sync, #maptiler-span-sync, #bloomsky-span-sync, #ambient-span-sync {
    color: #666;
}

.row-boxes-container {
    width: 100%;
    display: flex;
    flex-flow: wrap ;
}

.item-boxes-container {
    flex: 1;
    margin-left: 8px;
    margin-right: 8px;
    width: 100%;
}

span.lws-group-selected {
    cursor: default;
    display:block;
    position: relative;
    background-color:#F5F5F5;
    border-radius: 2px;
    padding-top:4px;
    padding-bottom:4px;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
    font-size: smaller;
    color:#444444;
}

span.lws-group-unselected {
    cursor: pointer;
    display:block;
    position: relative;
    padding-top:4px;
    padding-bottom:4px;
    font-size: smaller;
    color:#999999;
}

span.lws-group-unselected:hover{
    cursor: pointer;
    display:block;
    position: relative;
    padding-top:4px;
    padding-bottom:4px;
    font-size: smaller;
    color:#444444;
}

span.lws-group-option-selected {
    display:block;
    margin-left:-4.5%;
    background-color:#F5F5F5;
    border-radius: 2px;
    padding:8px 8px 8px 16px;
    border: 1px solid #E0E0E0;
}

span.lws-group-option-unselected {
    display: none;
}

span.lws-group-separator {
    display:block;
}

div.lws-brandicon {
    text-align: center !important;
    padding-top: 10px !important;
    width:100px !important;
    height:90px !important;
    float:left !important;
    margin-top:16px !important;
    margin-bottom:20px !important;
    margin-right: 20px !important;
    background-color: #2d7dd2 !important;
    border: none !important;
    border-radius: 4px !important;
    background-image: radial-gradient(circle at top left,#2d7dd2 10%,#104e8c 100%) !important;
    box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.3) !important;
}

.lws-notification {
    display: inline-block;
    vertical-align: top;
    margin: 1px 0 0 2px;
    padding: 0 5px;
    min-width: 7px;
    height: 17px;
    border-radius: 11px;
    background-color: #ca4a1f;
    color: #fff;
    font-size: 9px;
    line-height: 17px;
    text-align: center;
    z-index: 26;
}

.lws-notification-box {
    margin: 5px 0 15px;
    background: #fff;
    border-left-width: 4px;
    border-left-style: solid;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    padding: 2px 12px;
}

.bg-notice-info {
    background: rgba(0,160,210,.06) !important;
}

.bg-notice-warning {
    background: rgba(255,185,0,.06) !important;
}

.bg-notice-error {
    background: rgba(220,50,50,.06) !important;
}

.ico-size-0 {
    font-size: 1.25em !important;
    line-height: 1em !important;
}

.ico-size-1 {
    font-size: 1.3em !important;
    line-height: 1em !important;
}

.ico-size-2 {
    font-size: 1.9em !important;
    line-height: 1em !important;
}

.ico-size-3 {
    font-size: 2.1em !important;
    line-height: 1em !important;
}